h1{
    color:#rreeddred;
}
p{ color: green#green;
}
font-size:50px;
font-family: semi-serif;
font-weight: bold;
100 thin
    300 line
        400 normal
            500 medium
                600 semi bold
                    700 bold
                        800 extra bold
                            900 black
Line weight: 50 pxl, 1.5;
Text decoration: underline;
                 line through
                 overline
                 none
Text align: left, right,center,justify
Text transfrom: uppercase,lowercase, Capitalize, none
font style: italic;
background color;
width:
